@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #f5f5f0;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
